<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		{{include file='../../common/importAll.html'}}
		<script src="/statics/admin/js/Statistics/user_data_table_body.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/statics/js/lib/my97date/WdatePicker.js"></script>
		<script>
			function FindData() {
				$('#data_table_body').datagrid({
					url: '/Admin_Statistics/get_user/',
					queryParams: {
						username: $("#username").val(),
						starttime: $("#starttime").val(),
						endtime: $("#endtime").val()
					}
				});
			}
			$(function() {
				var today = new Date();
				$("#starttime").val(today.Format("YYYY-MM-DD"));
				$("#endtime").val(today.Format("YYYY-MM-DD"));
			});
		</script>
	</head>

	<body>
		<div id="window"></div>
		<div class="main">
			<div>
				<label>
					用户名：
					<input type="text" class="easyui-searchbox" id="username" />
					<input id="starttime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly" value="" />
					<input id="endtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly" value="" />
					<a href="javascript:FindData()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
				</label>
			</div>
			<div id="data_table" style="float: left;">
				<table id="data_table_body">

				</table>
			</div>
		</div>
	</body>

</html>