<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{$web_name}}</title>
		{{include file='../common/importAll.html'}}
		<link href="{{formatUrl('domain')}}{{formatUrl('home')}}statics/{{config_item('style')}}/css/index_article.css?v={{config_item('system_version')}}" rel="stylesheet" type="text/css" />
	</head>

	<body>
		{{include file='../common/header.html'}}
		<div id="content">
			<form method="post" action="" enctype="multipart/form-data" id="form" style="line-height: 40px; padding: 10px;">
				<table style="font-size: 20px;">
					<tr>
						<td>
							<label>姓名:</label>
						</td>
						<td>
							<input type="text" style="width:300px;height:30px;" name="username" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label>年龄:</label>
						</td>
						<td>
							<input type="number" style="width:300px;height:30px;" name="age" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label>QQ:</label>
						</td>
						<td>
							<input type="number" style="width:300px;height:30px;" name="qq" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label>手机号:</label>
						</td>
						<td>
							<input type="number" style="width:300px;height:30px;" name="telephone" value="" />
						</td>
					</tr>
					<tr>
						<td>
							<label>留言内容:</label>
						</td>
						<td>
							<textarea name="content" rows="20" cols="100"></textarea>
						</td>
					</tr>
				</table>
				<div>
					<input style="width: 70px;height:40px;" name="content4" type="submit" value="提交" />
				</div>
			</form>
			<div class="clear20"></div>
		</div>
		{{include file='../common/footer.html'}}
		<div style="display: none;">
			{{config_item('cnzz')}}
		</div>
	</body>

</html>