<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	{{include file='../../common/importAll.html'}}
	<script src="/statics/admin/js/admin_users/data_table_body.js" type="text/javascript" charset="utf-8"></script>
	<script src="/statics/admin/js/admin_users/ad.js" type="text/javascript" charset="utf-8"></script>
	<script>
		function FindData() {
			$('#data_table_body').datagrid('load', {
				username: $('#username').val(),
				status: $("#status").val()
			});
		}
	</script>
</head>

<body>
<div id="window"></div>
<div class="main">
	<div>
		<label>
			<input class="easyui-searchbox" id="username" style="width:200px" data-options="prompt:'请输入用户名'" /> 用户状态：
			<select id="status">
				<option value="">不限</option>
				<option value="1">启用</option>
				<option value="0">禁用</option>
			</select>
			<a href="javascript:FindData()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
		</label>
	</div>
	<div id="data_table" style="float: left;">
		<table id="data_table_body">

		</table>
	</div>
</div>
</body>

</html>